language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

install:
  - wget https://scrutinizer-ci.com/ocular.phar

  - sudo apt-get install phpunit

  - pear config-set auto_discover 1
  - pear channel-discover pear.phing.info
  - pear channel-discover pear.phpunit.de
  - pear update-channels
  - pear install phing/phing
  - sudo pear install phpunit/PHPUnit

  - composer self-update
  - composer install --dev

before_script:
  - phpenv rehash

script:
  - phpunit --coverage-text --coverage-clover=coverage.clover
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
  - phing
  - ls ./build

notifications:
  email: false
