language: php

php:
  - 5.4

before_script:
  - pear channel-discover pear.phpunit.de
  - pear install PHP_CodeSniffer --all-deps
  - phpenv rehash
  - phpcs --standard=PSR2 src
  - composer install

script: phpunit --coverage-text
